<div class="view">

  <div class="col-1">
    <div class="filtre-zone">
    <h2>Filtres</h2>
    <div class="filtre">
      <%= form_tag contacts_path, method: :get do %>
        <%= text_field_tag :entite, params[:entite], class: "input w-20", placeholder: "entite" %>
        <%= text_field_tag :nom, params[:nom], class: "input w-15", placeholder: "nom" %>
        <%= text_field_tag :type, params[:type], class: "input w-10", placeholder: "type" %>
        <%= text_field_tag :ville, params[:ville], class: "input w-15", placeholder: "ville" %>
        <%= text_field_tag :dep, params[:dep], class: "input w-5", placeholder: "dep" %>
        <%= text_field_tag :cp, params[:cp], class: "input w-7", placeholder: "cp" %>
        <%= text_field_tag :mandant, params[:mandant], class: "input w-7", placeholder: "mandant" %>
        <%= select_tag  :order, raw("<option>id</option><option>nb_habitant</option>") , class: 'w-10'%>
        <%# <%= text_field_tag :order, params[:order], class: "input w-7", value: "", placeholder: "order" %>
        <%= submit_tag "Search", class: "w-10" %>
      <% end %>
    </div>
    </div>

    <%=@sql%>
    <%i=0%>
    <h2> <b><%=@nb%></b> contacts trouvés</h2>
    <%@contacts.each do |contact| %> <%i+=1%>
    <div id=<%="card-"+contact.id.to_s%> class="contact-card-mini">
      <div class="output w-20"> <%= contact.entite %></div>
      <div class="output w-15"> <%= contact.nom %></div>
      <div class="output w-10"> <%= contact.type_ %></div>
      <div class="output w-15"> <%= contact.ville %></div>
      <div class="output w-5"> <%= contact.nb_departement %></div>
      <div class="output w-7"> <%= contact.cp %></div>
      <div class="output w-7"> <%= contact.nb_habitant %></div>
      
    </div>
    <%end%>
  </div>


  <div class="col-2">
      <%@contacts.each do |contact| %>
      <div id=<%="edit-"+contact.id.to_s%> class="card-edit-contact invisible">
        <form action=<%="/contact/"+contact.id.to_s%> method="POST">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input id=entite type="text"  name=contact[entite] placeholder="entite" value=<%=contact.entite%>>
          <input id=nom type="text" placeholder="nom" value=<%=contact.nom%>>
          <input id=type type="text" placeholder="type" value=<%=contact.type_%>>
          <hr>
          <div class="line">
            <input  id=ville type="text" placeholder="ville" value=<%=contact.ville%>>
            <input style="width: 20%" id=dep type="text" placeholder="dep" value=<%=contact.nb_departement%>>
            <input style="width: 25%" id=cp type="text"  name=contact[cp] placeholder="cp" value=<%=contact.cp%>>
          </div>
          <input id=adresse type="text" placeholder="adresse" value=<%=contact.adresse%>>
          <input id=fonction type="text" placeholder="fonction" value=<%=contact.fonction%>>
        
          <input id=mail type="text" placeholder="mail" value=<%=contact.email%>>
          <input id=site type="text" placeholder="site" value=<%=contact.site%>>
          <input id=fixe type="text" placeholder="fixe" value=<%=contact.fixe%>>
          <input id=tel type="text" placeholder="tel" value=<%=contact.portable%>>
            <% html = ""%>
            <% contact.commentaires.all.each { |com| html+= "#{com.mandant} : #{com.input}\n" }%>
          <textArea id=commentaire placeholder="commentaire" > <%=html%> </textArea>
          <input id=submit type="submit">
        </form>
      </div>
     <%end%>

     <div class="card-edit-contact new">
      <form action="/contacts" method="POST">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input id=entite type="text" name=contact[entite] placeholder="entite">
        <input id=nom type="text" placeholder="nom">
        <input id=type type="text" placeholder="type" >
        <div class="line">
          <input id=ville type="text" placeholder="ville">
          <input style="width: 50%" id=dep type="text" placeholder="dep">
          <input style="width: 32%" id=cp type="text" name=contact[cp] placeholder="cp">
        </div>
        <input id=fonction type="text" placeholder="fonction">
        <input id=adresse type="text" placeholder="adresse">
        <input id=mail type="text" placeholder="mail">
        <input id=site type="text" placeholder="site">
        <input id=fixe type="text" placeholder="fixe">
        <input id=tel type="text" placeholder="tel">
        <input id=commentaire type="text" placeholder="commentaire">
        <input id=submit type="submit" class="w-95" value="Creer contacts">
      </form>
      </div>
  </div>

</div>
